//réglage des pages des restaurants

.body__restaurant{
  @extend %body;
  font-family: $simple;
  font-size: $normal;
  h1{
    font-family: $title;
  }
}

.body__restaurant main, .body__restaurant footer{
  transform: translateY(-41px);
}

.body__restaurant header, .body__restaurant main, .header__background--la-palette-du-gout img, .header__background--la-note-enchantee img, .header__background--a-la-francaise img, .header__background--le-delice-des-sens img{
  @include large{
    max-width: 1280px;
    margin: auto;
  }
}
