//mise en forme générale de la carte du menu
article{
  background: $greyLight;
  width: 100%;
  @extend %flexColumn;
  margin: auto;
  border-radius: 36px 36px 0px 0px;
  .menu__title{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 20px auto 0px auto;
    width: 100%;
  }
  .menu__title h1{
    letter-spacing: 0.05rem;
    margin-left: 15px;
  }
  .menu__title i{
    font-size: $sizeHeart;
    margin-right: 15px;
  }
}

//le menu: entrées, plats et desserts
.menu{
@extend %flexColumn;
margin: 0px 10px;
.menu__group{
  display: flex;
  flex-direction: column;
  h2{
    font-weight: normal;
    margin: 10px 0px 10px 0px;
    width: 41px;
    border-bottom: solid $mint;
    }
    .menu__group--description{
      display: flex;
     
    }
      .menu__description{
      @include cardFunctioningMenu;
      @extend %flexRowSbetween;
      background: $white;
      padding: 6px;
      width: 96%;
      @include large{
        padding: 10px;
        } 
      }
        h3, p{
          margin-block-start: 5px;
          margin-block-end: 5px;
        }
  }
}

//bouton "Commander"
.menu__order{
  @include btn;
  @include large{
    width: 250px;
    padding: 16px 18px;
  }
  width: 150px;
  margin: 20px auto 40px auto;
}

.menu__order:hover{
  @include hoverBtn;
}

/*curseur de la souris
.menu__description:hover{
  cursor: pointer;
}*/


//rognage du texte et ajout de "..."
.menu__description--ellipsis{
  @include ellipsis(220px)
}


