//réglage du header de la page des restaurants

.body__restaurant header{
  display: flex;
  .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 15px;
  }
}

.header__icon a{
  color: $black;
}

.header__icon i{
  transform: translateY(15px);
}
