//mise en forme générale de la carte du menu
article{
  background: $greyLight;
  width: 100%;
  @extend %flexColumn;
  border-radius: 35px 35px 0px 0px;
 
  .menu__title{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    margin: 20px auto 0px auto;
    min-width: 280px;
  }
  .menu__title h1{
    letter-spacing: 0.05rem;
    margin-left: 15px;
  }
  .menu__title i{
    font-size: $sizeHeart;
    margin-right: 15px;
  }
}

//le menu: entrées, plats et desserts
.menu{
@extend %flexColumn;
.menu__starter-group, .menu__main-course-group, .menu__dessert-group{
  display: flex;
  flex-direction: column;
  h2{
    font-weight: normal;
    margin: 10px 0px 10px 0px;
    width: 16%;
    border-bottom: solid $mint;
    }
    .menu__starter-description1, .menu__starter-description2, .menu__starter-description3, .menu__starter-description4, .menu__main-course-description1, .menu__main-course-description2, .menu__main-course-description3, .menu__dessert-description1, .menu__dessert-description2, .menu__dessert-description3{
    @include cardFunctioningMenu;
    @extend %flexRowSbetween;
    background: $white;
    }
      h3, p{
        margin-block-start: 5px;
        margin-block-end: 5px;
      }
}
}

//bouton "Commander"
.menu__order{
  @include btn;
  width: 150px;
  margin: 20px auto 40px auto;
}

.menu__order:hover{
  @include hoverBtn
}

//rognage du texte et ajout de "..."
.menu__main-course-description1--ellipsis{
  width: 221px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}

//ajout d'un espace entre le plat et le prix - restaurant à la française/plat 1
//A modifier/supprimer pour tablette et desktop
.menu__main-course-description1--space{
  margin-right: 10px;
}