%background{
  min-height: 186px;
  display: flex;
  width: 100%;
  object-fit: cover
}

.header__background--la-palette-du-gout img{
  @extend %background;
  object-position: 0px 0px;
}

.header__background--la-note-enchantee img{
  @extend %background;
  object-position: 0px -73px;
}

.header__background--a-la-francaise img{
  @extend %background;
}

.header__background--le-delice-des-sens img{
  @extend %background;
}