@mixin btn {
  border: none;
  background: linear-gradient($pink, $purple);
  color: $white;
  padding: 12px 18px;
  border-radius: 25px;
  margin: 10px 0px 40px 0px;
  box-shadow: -5px 5px 15px 0px $greyBtn;
}

@mixin hoverBtn{
  box-shadow: -5px 5px 4px 0px #808080;
  opacity: 0.7;
}
