// partie fonctionnement de la page d'accueil ohmyfood

// ensemble de la partie
//.functioning = h2 compris
//.functioning__group = choisissez + composez + dégustez
.functioning, .functioning__group{
  @extend %flexColumn;
  margin: auto;
  width: 100%;
  margin-bottom: 20px;
    h2{
      @include large{
        margin: 10px auto 0px auto;
      }
    }
}
//media queries
.functioning{
  @include large{
    height: 160px;
    justify-content: center;
    margin-bottom: 0px;
  }
}
.functioning h2{
  margin-bottom: 10px;
}
.functioning__group{
   @include large{
     flex-direction: row;
     margin: 20px 0px;
   }
}

// choisissez + composez + dégustez
.functioning__choice, .functioning__menu, .functioning__restaurant{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  @include cardFunctioningMenu;
  background: $greyLight;
  margin-left: auto;
  margin-right: auto;
  width: 248px;
  &:hover{
    background: $purpleLight;
  }
  &:hover .functioning__choice--icone{
    color: $purple;
  }
  &:hover .functioning__menu--icone{
    color: $purple;
  }
  &:hover .functioning__restaurant--icone{
    color: $purple;
  }
  @include large{
    width: 200px;
  }
}

// 1 + 2 + 3 
.functioning__choice--number, .functioning__menu--number, .functioning__restaurant--number{
  font-size: 12px;
  background: $purple;
  border-radius: 50px;
  height: 22px;
  width: 22px;
  transform: translateX(-16px);
  @include large{
    transform: translateX(-12px);
  }
  p{
    color:$white;
    transform: translate(8px,-7px);
  }
}

//icone
.functioning__choice--icone, .functioning__menu--icone, .functioning__restaurant--icone{
@include icon;
  ~p{
    width: 160px;
    transform: translateX(-14px);
    @include large{
      text-align: center;
    }
  }
}



