html{
  height: 100vh;
}

body{
  @extend %body;
  font-family: $simple;
  font-size: $normal;
  height: 100%;
}

header, main, footer{
  @include large{
    max-width: 1280px;
    margin: auto;
  }
}

h1, h2, h3{
  font-family:$simple;
}

h1{
  font-size: $h1;
  @include xlarge{
    font-size: 1.5rem;
  }
}

h2{
  font-size: $h2;
  margin: 35px 0px 0px 15px;
  @include xlarge{
    font-size: 1.3rem;
  }
}

img{
  width: 100%;
}

