//partie restaurant de la page d'accueil ohmyfood

//section restautant h2 compris
.restaurants{
  background:$greyLight;
  display: flex;
  flex-direction: column;
  width: 100%;
  //media queries
  h2{
    @include large{
     margin: 24px auto 0px auto;
    }
  }
  // l'ensemble des restaurant
  .restaurant__group{
    display: flex;
    flex-direction: column;
    margin: auto;
    //media queries
    @include medium{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 560px;
      @include large{
        width: 768px;
        justify-content: space-between;
      }
    }
  }
  .restaurant__group a{
    text-decoration: none;
    color:$black;
  }
  .restaurant__group figure{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-inline: 0px;
    padding-bottom: 8px;
    @include large{
      padding-bottom: 35px;
    }
  }
  .restaurant__group figure img{
   height: 134px;
   width: 263px;
   object-fit: cover;
   border-radius: 15px 15px 0px 0px;
   z-index: 100;
   @include mobilePlus{
     height: 160px;
     width: 348px;
   }
  }
    .restaurant__group figcaption{
      background: $white;
      display: flex;
      flex-direction: column;
      width: 263px;
      height: 54px;
      border-radius: 0px 0px 15px 15px;
      @include mobilePlus{
        width: 348px;
      }
    }
       .restaurant__group figcaption h3{
          font-size: $h3;
          margin:10px 0px 0px 10px;
        }
        .restaurant__group figcaption p{
          margin:5px 0px 0px 10px;
        }
        .restaurant__group i{
          @include heart;
        }
        .restaurant__group a:nth-child(4){
          margin-bottom: 30px;
        }
}

//suprression margin bottom
.restaurant__la-palette-du-gout{
  margin-bottom: 0px;
}

//réglages des images

.restaurant__la-palette-du-gout img{
  object-position: 0px -43px;
  @include mobilePlus{
    object-position: 0px -71px;
  }
}

.restaurant__la-note-enchantee img{
  object-position: 0px -120px;
  @include mobilePlus{
    object-position: 0px -173px;
  }
}

.restaurant__a-la-francaise img{
  object-position: 0px -38px;
  @include mobilePlus{
    object-position: 0px -62px;
  }
}

.restaurant__le-delice-des-sens img{
  object-position: 0px -44px;
  @include mobilePlus{
    object-position: 0px -74px;
  }
}

//indicateur nouveau restaurant
.restaurant__la-palette-du-gout--new, .restaurant__la-note-enchantee--new{
  color: $greenFont;
  font-weight: bold;
  font-size: 0.7rem;
  background: $mint;
  width: 50px;
  padding: 4px;
  text-align: center;
  z-index: 101;
  transform: translate(192px, 32px);
  @include mobilePlus{
    transform: translate(271px, 27px)
  }
}


