.restaurants{
  background:$greyLight;
  display: flex;
  flex-direction: column;
  width: 100%;
  //media queries
  h2{
    @include large{
     margin: 24px auto 0px auto;
    }
  }
  .restaurant__group{
    display: flex;
    flex-direction: column;
    margin: auto;
    //media queries
    @include medium{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 560px;
    }
  }
  .restaurant__group a{
    text-decoration: none;
    color:$black;
  }
  .restaurant__group figure{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-inline: 0px;
  }
  .restaurant__group figure img{
   height: 118px;
   width: 236px;
   object-fit: cover;
   border-radius: 15px 15px 0px 0px;
  }
    .restaurant__group figcaption{
      background: $white;
      display: flex;
      flex-direction: column;
      width: 236px;
      height: 54px;
      border-radius: 0px 0px 15px 15px;
    }
       .restaurant__group figcaption h3{
          font-size: $h3;
          margin:10px 0px 0px 10px;
        }
        .restaurant__group figcaption p{
          margin:5px 0px 0px 10px;
        }
        .restaurant__group i{
          @include heart;
        }
        .restaurant__group a:nth-child(4){
          margin-bottom: 30px;
        }
}

//suprression margin bottom
.restaurant__la-palette-du-gout{
  margin-bottom: 0px;
}

//réglages des images
.restaurant__la-palette-du-gout img{
  object-position: 0px -39px;
}

.restaurant__la-note-enchantee img{
  object-position: 0px -108px;
}

.restaurant__a-la-francaise img{
  object-position: 0px -38px;
}

.restaurant__le-delice-des-sens img{
  object-position: 0px -44px;
}

//indicateur nouveau restaurant
.restaurant__la-palette-du-gout--new, .restaurant__la-note-enchantee--new{
  color: $greenFont;
  font-weight: bold;
  font-size: 0.7rem;
  background: $mint;
  width: 45px;
  padding: 2px;
  transform: translate(175px, 25px);
}
