.header{
  @extend %flexColumn;
  width: 100%;
}

.header__logo{
  @extend %logoEntete;
}

.header__localisation{
  display: flex;
  justify-content: center;
  background-color: $grey;
  height: 40px;
  align-items: center;
  input{
    border: none;
    padding-left: 10px;
    width: 110px;
    background-color: $grey;
  }
}

.header__presentation{
  @extend %flexColumnCenter;
  align-items: center;
  background-color: $greyLight;
  min-width: 280px;
  //media queries
  @include mobilePlus{
    margin: 0px
  }
  @include large{
    height: 200px;
    justify-content: center;
  }
  h1{
    width: 200px;
    margin: 20px auto 0px;
    @include medium{
      width: 400px;
      font-size: 1.5rem;
    }
  }
  p{
    margin-right: 20px;
    margin-left: 20px;
    
  }
  button{
    @include btn;
  }
  button:hover{
    @include hoverBtn;
  }
}
