//mise en place de l'animation de la coche à droit

//checkbox (fond menthe)
.menu__description--contenair-check{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

//au clic sur la carte (titre plat, description) la checkbox apparait
.menu__group--description:hover .menu__description--contenair-check{
  border-radius: 0px 10px 10px 0px;
  background-color: #99e2d0;
  padding: 12px;
  width: 30px;
  height: 34px;
  right: 0px;
  animation: animationCheckbox .5s both;
  @include large{
    height: 41px;
  }
}

//au survol apparition de la main
.menu__group--description:hover{
  cursor: pointer;
  
}

@keyframes animationCheckbox {
  0% {
  opacity: 0;
  }
  50% {
  opacity: 0;
  }
  100% {
  transform: translateX(-54px);
  opacity: 1;
  }
}

//mise en forme et animation de la coche

.menu__description--check i{
 z-index: 1000;
 font-size: 20px;
 color: $white;
text-align: center;
}

//hors survol, la check ne doit pas être visible
.menu__group--description:not(:hover) .menu__description--contenair-check i{
 display: none;
}


//au survol sur la carte (titre plat, description) la coche apparait
.menu__group--description:hover .menu__description--check i{
  animation: animationCheck .5s ease-in;
}



@keyframes animationCheck {
  0%{
   transform: rotate(0deg);
  }
  100%{
   transform: rotate(360deg);
 }
}

// décalage du prix lors du survol
.menu__group--description:hover .menu__description--price{
 margin-right: 58px;
 transition: all .5s;
}

//rognage texte au survol si trop long
.menu__description:hover .menu__description--name p, .menu__description:hover .menu__description--name h3{
  @include maxMedium{
    @include ellipsis(167px);
  }
}