/*.menu__description--contenair-check{
  border-radius: 0px 10px 10px 0px;
  background-color: #99e2d0;
  padding: 12px;
  width: 28px;
  height: 34px;
  

}*/


//.menu__group--description::after
/*
.menu__description--contenair-check{
    border-radius: 0px 10px 10px 0px;
    background-color: #99e2d0;
    padding: 12px;
    width: 28px;
    height: 34px;
    position: absolute;
    left: 78%;
    //visibility: hidden;
    animation: animationCheckbox 2s ease-in-out;
}*/

/*
.menu__description--check{
  position:relative;
  left: 100%;
  z-index: 1000;
  font-size: 20px;
  color: red;
 // visibility: hidden;
  animation: animationCheck 2s ease-in-out;
}*/

.menu__description--contenair-check{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__group--description:hover .menu__description--contenair-check{
  border-radius: 0px 10px 10px 0px;
  background-color: #99e2d0;
  padding: 12px;
  width: 28px;
  height: 34px;
  position: absolute;
  left: 78%;
  animation: animationCheckbox 1s both;

}

@keyframes animationCheckbox {
  0%{
   left:100%;
    //right: 100%;
    //visibility: hidden;
  }
  100%{
    left: 78%;

  }
}

.menu__group--description:not(:hover) .menu__description--contenair-check{
  display: none;
}

.menu__group--description:hover .menu__description--check i{
 // display: block;
  animation: animationCheck 1s ease-in;
}

.menu__group--description:hover{
  cursor: pointer;
}

.menu__description--check i{
 z-index: 1000;
 font-size: 20px;
 color: $white;
 text-align: center;
}



@keyframes animationCheck {
  0%{
    transform: rotate(0deg);
    
    //top: 6px;
    //visibility: visible;
  }
  100%{
    transform: rotate(360deg);
    //top: 6px;
  }
}

// prix qui se décale

.menu__description:hover .menu__description--price{
 margin-right: 58px;
 transition: all 1s;
}


.menu__description:hover .menu__description--name p, .menu__description:hover .menu__description--name h3{
  width: 167px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
  transition: width 1s;
}
