/*.menu__description--contenair-check{
  border-radius: 0px 10px 10px 0px;
  background-color: #99e2d0;
  padding: 12px;
  width: 28px;
  height: 34px;
  

}*/


//.menu__group--description::after
/*
.menu__description--contenair-check{
    border-radius: 0px 10px 10px 0px;
    background-color: #99e2d0;
    padding: 12px;
    width: 28px;
    height: 34px;
    position: absolute;
    left: 78%;
    //visibility: hidden;
    animation: animationCheckbox 2s ease-in-out;
}*/

/*
.menu__description--check{
  position:relative;
  left: 100%;
  z-index: 1000;
  font-size: 20px;
  color: red;
 // visibility: hidden;
  animation: animationCheck 2s ease-in-out;
}*/

@keyframes animationCheckbox {
  0%{
    left: 100%;
    visibility: visible;
  }
  100%{
    left: 78%;
  }
}

@keyframes animationCheck {
  0%{
    transform: rotate(0deg);
    //top: 6px;
    //visibility: visible;
  }
  100%{
    transform: rotate(2turn);
    //top: 6px;
  }
}

.menu__group--description:hover .menu__description--contenair-check{
  border-radius: 0px 10px 10px 0px;
  background-color: #99e2d0;
  padding: 12px;
  width: 28px;
  height: 34px;
  position: absolute;
  left: 78%;
  //visibility: hidden;
  animation: animationCheckbox 2s;
}

.menu__group--description:hover .menu__description--check i{

 // visibility: hidden;
  display: block;
  animation: animationCheck 2s ease-in-out;
  
}

.menu__group--description:hover{
  cursor: pointer;
}

.menu__description--check i{
display: none;
 left: 16%;
 //top:6px;
 z-index: 1000;
 font-size: 20px;
 color: $white;
 text-align: center;
 padding-top: 6px;

}

/*.menu__description p:hover{
  width: 157px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
  transition: text-overflow 2s ease-in-out;
}

*/

.menu__description p:hover{
  animation: animationText 2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}

.menu_description:hover .menu__description--price p{
  margin-right: 61px;
}

@keyframes animationText{
  0%{
  width: 94%;
  }
  50%{
  width:81%;
  }
  100%{
 width: 68%;
 }
}