//mise en forme pages
%body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

//mise en forme
%flexColumn{
  display: flex;
  flex-direction: column;
}

//mise en forme 
%flexColumnCenter{
  display:flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

//mise en forme 
%flexRowSbetween{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

//réglage du logo d'entête
%logoEntete{
  margin: 10px auto;
  img{
    width: 120px;
  }
}

