// COULEURS DU SITE
$purple:#9356dc;
$purpleLight:#F7F1FF;
$pink:#ff79da;
$cyan:#99e2d0;
$grey:#ededed;
$greyLight:#f7f7f7;
$white:#ffffff;
$greyBtn: #808080;
$greypearl:#efefef;
$black:#000000;
$greenFont:#139273;
$mint:#99e2d0;
$mintLoading: rgba(153, 226, 208, 0.85);
$blackFooter: #353535;
$purpleHeart:#cb14d1; 
$gradient: linear-gradient(#ff79da, #9356dc);

// FONTS
$title: "Shrikhand";
$simple: "Roboto";

//TAILLE
$normal: 0.75rem;
$h1:1.125rem;
$h2:1rem;
$h3:0.8rem;
$sizeLogo:1rem;
$sizeHeart: 1rem;

