footer{
  background: $blackFooter;
  color: $white;
  width: 100%;
  .footer{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    @include mobilePlus{
      margin-left: 0px;
    }
  }
    .footer__logo{
      font-family: $title;
      font-size: $sizeLogo;
      @include mobilePlus{
      margin: auto;
      margin-top: 12px;
      }
    }
    .footer__restaurant{
      display: flex;
      flex-direction: column;
      //media queries
      @include mobilePlus{
        margin: auto;
      }
      @include large{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 0px 0px 20px 0px;
      }
    }
      .footer__restaurant--proposition, .footer__restaurant--partner{
        display: flex;
        align-items: center;
        p{
          margin-block: 5px;
          //media queries
          @include large{
            margin-block: 0px;
          }
        }
      }
}

.footer__restaurant--proposition p{
  margin-left: 7px;
}

.footer__restaurant--partner p{
  margin-left: 3px;
}

.footer__restaurant--legal a, .footer__restaurant--contact a{
  text-decoration: none;
  color: $white;
}

.footer__restaurant--contact{
  margin-bottom: 20px;
  margin-block-start: 8px;
  //media queries
  @include large{
    margin-block-end: 0px;
  }
}
